<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<li id="comment-<%= comment._id %>">
    <p>
        <% if (locals.user && locals.user.id == comment.user.id){ %>
        
        <small>
            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
        </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
        <!-- display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
        <!-- study about the data attribute -->
        <small>
            <% if (locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <i class="fa fa-gratipay" aria-hidden="true"></i> <%= comment.likes.length %> Likes
                </a>
            <% }else{ %>
                <i class="fa fa-gratipay" aria-hidden="true"></i><%= comment.likes.length %> Likes
            <% } %>
        </small>

    </p>    

</li>